{% load static %}
<footer class="section-footer border-top bg">
    <div class="container">
        <section class="footer-top py-5">
            <div class="row">
                <aside class="col-md-4"> 
                    <article class="footer-item">
                        <h6 class="title">About</h6>
                        <p>Trivon is a simple e-commerce template with a clean design. </p>
                    </article>
                </aside>
                <aside class="col-md-2">
                    <h6 class="title">Help</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Support</a></li>
                        <li> <a href="#">Shipping</a></li>
                        <li> <a href="#">Returns</a></li>
                    </ul>
                </aside>
                <aside class="col-md-3">
                    <h6 class="title">Contacts</h6>
                    <p>
                        <i class="fa fa-envelope"></i> support@trivon.com <br>
                        <i class="fa fa-phone"></i> +1 800 123 4567
                    </p>
                </aside>
                <aside class="col-md-3">
                    <h6 class="title">Follow us</h6>
                    <ul class="list-unstyled social">
                        <li><a href="#" class="btn btn-icon btn-light"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="btn btn-icon btn-light"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="btn btn-icon btn-light"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </aside>
            </div>
        </section>
        <section class="footer-bottom py-3">
            <p class="text-center">&copy; 2025 Trivon. All rights reserved.</p>
        </section>
    </div>
</footer>