
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-categories-mobile">
<div class="container">
	<div class="categories-scroll">
		{% for category in links %}
		<a href="{{ category.get_url }}" class="category-card">
			<div class="category-img">
				<img src="{{ category.cat_image.url }}" alt="{{ category.category_name }}">
			</div>
			<div class="category-name">{{ category.category_name }}</div>
		</a>
		{% endfor %}
	</div>
</div> <!-- container //  -->
</section>

<section class="section-intro">
<div class="banner-slider">
    <div class="slides-container" id="slidesContainer">
        <div class="slide">
            <img src="{% static 'images/banners/8277025.jpg' %}" alt="Banner 1">
        </div>
        <div class="slide">
            <img src="{% static 'images/banners/19292.jpg' %}" alt="Banner 2">
        </div>
    </div>
    <div class="slide-dots" id="slideDots"></div>
</div>
</section>

<section class="section-name padding-y-sm">
	<div class="container">
		
		<header class="section-heading">
			<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->


<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.image.url }}" alt="{{ product.product_name }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">${{ product.price }}</div> <!-- price-wrap.// -->
				<p>{{ product.stock_status }}</p>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>

{% endblock content %}